<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>HeyBuddies</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1238826520251834</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.523535053264-9ncm3g8okuh6bgu6lmq3tbslf0n3sul4</string>
			</array>
			<key>com.apple.developer.applesignin</key>
			<array>
				<string>Default</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>1238826520251834</string>
	<key>FacebookClientToken</key>
	<string>8d6b7b4eafb29e0720ac02f0a5906bb0</string>
	<key>FacebookDisplayName</key>
	<string>fcauthlogin</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to the camera for uploading user profile picture</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to the photo library to upload user profile picture</string>
	<key>UIAppFonts</key>
	<array>
		<string>Axiforma-Black.ttf</string>
		<string>Axiforma-BlackItalic.ttf</string>
		<string>Axiforma-Bold.ttf</string>
		<string>Axiforma-BoldItalic.ttf</string>
		<string>Axiforma-Book.ttf</string>
		<string>Axiforma-BookItalic.ttf</string>
		<string>Axiforma-ExtraBold.ttf</string>
		<string>Axiforma-ExtraBoldItalic.ttf</string>
		<string>Axiforma-Heavy.ttf</string>
		<string>Axiforma-HeavyItalic.ttf</string>
		<string>Axiforma-Italic.ttf</string>
		<string>Axiforma-Light.ttf</string>
		<string>Axiforma-LightItalic.ttf</string>
		<string>Axiforma-Medium.ttf</string>
		<string>Axiforma-MediumItalic.ttf</string>
		<string>Axiforma-Regular.ttf</string>
		<string>Axiforma-SemiBold.ttf</string>
		<string>Axiforma-SemiBoldItalic.ttf</string>
		<string>Axiforma-Thin.ttf</string>
		<string>Axiforma-ThinItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
